# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
/.idea/*

*/userdata/*
credentials*
!credentials_example.json
cookies.json
telegram_wrapper/workdata/*
!credentials_example*